.no-valid{
    border: 2px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.logoImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    max-width: 100%;
    object-fit: cover;
}

.login-container{
    width: 22%;
    height: 55%;

    min-width: 300px;
    max-width: 1000px;

    min-height: 600px;

    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 18px;
}

.createAccountLabel{
    text-align: center;
    font: 100% Arial, sans-serif;
    font-size: 1vmax;
    letter-spacing: 0.5vw;
    color: #1C1E21;
    margin-top: 1.5vh;
}

.loginButton{
    width: 70%;
    line-height: 2em;
    margin: 2em;
    font-size: 100%;

    color: white;
    background: #1D5A73 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 2px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 2em;
    width: 50%;
}

.container{
    width: 100vw;
    height: 100vh;

    background: #1C1E21 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-device-width: 420px){
    *{
        font-size: 46px;
    }
    .login-container{
        width: 85%;
        height: 85%;
    }

    .logoImage{

        justify-content: center;
        object-fit: none;
        width: 100%;
    }

    .createAccountLabel{
        font-size: inherit;
    }


    .loginButton{
        width: 75%;
        line-height: 3em;
        margin: 2em;
    }
}