.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.projects>a>div{
    display: flex;
    flex-direction: row;
    background: white;
    margin: 2em 0;
}

.projects>a>div>img{
    margin: 1em;
    width: 5%;
}

.projects>a>div>div
{
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 22px;  
    width: 100%;
}

.projects>a>div>div>p{
    margin: auto;
    font-size: 18px;
}

#name{
    margin-left: 1%;
}

#value{
    margin-left: 2%;
}

#day{
    margin-left: 9%;
}

#week{
    margin-left: 10%;
}