body{
    margin: 0;
}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav{
    width: 20vw;
    height: 100%;

    background: #FCFCFC 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav>a>img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main{
    width: 80vw;
}

a{
    text-decoration: none;
    display: inline-block;
    line-height: 4em;
}

li i{
    font-size: 1.5em;
}

.button{
    letter-spacing: 0.8px;
    text-align: center;
    color: #ffffff;
    background: #1D5A73 0% 0% no-repeat padding-box;
    padding: 1em;
    border: none;
    margin: .5em auto;
    width: 100%;
    cursor: pointer;
}

ul{
    list-style-type: none;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding:0;
}

li{
    text-align: left;
}

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #1C1E21 0% 0% no-repeat padding-box;
}

header{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    background: #1D5A73 0% 0% no-repeat padding-box;
}

.search-bar{
    width: 100%;
}

.search-bar>input{
    margin-top: 2%;
    margin-left: 30%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 1.5em;
    color:#1C1E216E;
    letter-spacing: 0.1em;
    text-align: center;
    width: 40%;
}

.upper-bar{
    display: flex;
    flex-direction: row;
    height: 5%;

    background: #206987 0% 0% no-repeat padding-box;
}

.upper-bar>p{
    font-size: 20px;
    margin: .5em auto;
    color: white;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 2em;
    width: 50%;
}